<application>
   <!-- You will only need to add this meta-data tag, but make sure it's a child of application -->
   <meta-data
     android:name="com.google.android.geo.API_KEY"
     android:value="AIzaSyB9ghCyqvLGquCHrqYTTGwzsE_z2J7aoJU"/>
    <uses-permission android:name="android.permission.INTERNET"/> 
</application>